
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
  {% set anterior = namespace('') %}
  {% set anterior.content = highlights[0].content %}
  </pre>
  <article>
  {%- for annot in highlights %}
    {%- if annot.text -%}
    {%- if  annot.content -%}
    <p style="background-color: {{annot.color_name}};">{{annot.type}} - {{annot.text}}</p>
    <li>{{annot.content}}</li>
    {%- else -%}
    <p style="background-color: {{annot.color_name}};">{{annot.type}} - {{annot.text}}</p>
    {%- endif -%}
    {% else %}
    {%- if  annot.text -%}
    <li>{{annot.type}} - {{annot.content}}</li>
    {%- else -%}
    {%- endif -%}
    {%- endif -%}

  {% endfor -%}'


</article>

</body>
</html> 
        
